body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 35px;
  /* text-shadow: 4px 4px 4px #aaa; */
  background-color: rgb(235, 222, 222);
}

#search-btn {
  display: flex;
}

#current-day {
  font-size: larger;
  font-weight: bold;
}

#current-city {
  font-size: larger;
  font-weight: bold;
}

#prev-searches {
  font-size: larger;
  font-weight: bold;
}